.contact__hero {
    display: flex;
    margin-bottom: 200px;

    &__image__container {
        position: relative;
        flex: 0 0 57%;

        &--image {
            width: 100%; height: 100%;
        }

        &--void {
            position: absolute;
            right: 0; bottom: 0;
            width: 20%; height: 75%;
            background-color: #fff;
        }

        &--line {
            position: absolute;
            bottom: 0; right: 2%;
            width: 18%;
        }
    }

    &__textbox {
        position: relative;
        margin-top: auto;
        flex: 0 0 43%;

        &--heading {
            position: absolute;
            right: 0;
        }

        &--line {
            width: 50px;
            margin-top: 180px;
            border-color: get-color(very-light-gray);
        }

        &--subheading {
            margin: 50px 0 75px;
        }
    }
}