.page__links__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-weight: 700;

    .page__link {
        a {
            position: relative;
            text-transform: capitalize;

            &:hover {
                color: get-color(dark-blue);

                &::after {
                    content: '';
                    position: absolute;
                    left: 10%;
                    bottom: -2px;
                    height: 1px; width: 80%;
                    background: get-color(dark-blue);
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                width: 0;
                transition: 0.2s;
            }
        }

        &.current a {
            position: relative;
            color: get-color(dark-blue);
            
            &::after {
                content: '';
                position: absolute;
                left: 10%;
                bottom: -2px;
                height: 1px; width: 80%;
                background: get-color(dark-blue);
            }
        }
    }
}