$colors: (
    dark-blue: hsl(220, 14%, 12%),
    dark-gray: hsl(226, 6%, 40%),
    medium-gray: hsl(223, 7%, 53%),
    light-gray: hsl(225, 17%, 82%),
    very-light-gray: hsl(230, 21%, 95%),
    red: hsl(0, 68%, 61%)
);

@function get-color($color) {
	@return map-get($colors, $color);
}